body {
    background-image: url(/images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.dairy {
    background-color: chartreuse;
    background-image: url(/images/head.jpeg);
    width: 700px;
    height: 200px;
    font-size: 30px;
    color: greenyellow;
    padding-top: 40px;
    font-weight: 700;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    background: cyan;
}

table,
th,
td {
    border: 1px solid black;
}

#dailyproduce {
    align-items: center;
}