body {
    background-image: url(/images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.dairy {
    background-color: chartreuse;
    background-image: url(/images/head.jpeg);
    width: 700px;
    height: 200px;
    font-size: 30px;
    color: greenyellow;
    padding-top: 40px;
    font-weight: 700;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

#tabledata {
    background-color: lightgreen;
}

.shed_A,
.shed_B,
.shed_C,
.shed_D {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
    border-radius: 3px;
    border: 0px;
    font-family: cursive;
    padding-top: 3px;
    padding-bottom: 3px;
}

#buttons {
    background-color: rgb(146, 205, 253);
    padding: 5px;
    border-radius: 3px;
}

h1 {
    text-align: center;
    background: cyan;
}

table,
th,
td {
    border: 1px solid black;
}

#dailyproduce {
    align-items: center;
}